/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*==========================================*/
/* Fin RESET */
/*==========================================*/
.sigmar{
  font-family: 'Sigmar One', cursive;
}
.PressStart{
  font-family: 'Press Start 2P', cursive;
}
.gmd-3 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.white-c {
  color: white;
}
.mad-5a {
  margin: 18px;
}
.brd{
  border: 2px solid red;
}
.tcw{
	color: white;
	font-size: 38px;
}
.tcb{
	color: black;
	font-size: 40px;
	padding-top: 5px;
}
.center-pos{
	left: 93px;
	top: 85px;
}
.prltv{
	position: relative;
}
.pabslt{
	position: absolute;
}
.opc-dead{
	opacity: 0;
}
/*==========================================*/
/* HEADER */
/*==========================================*/
header{
  text-align: center;
  height: 15vh;
  background-image: url('../../img/header.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header h1{
  color: #5A1519;
  font-size: 36px;
}

/*==========================================*/
/* Fin HEADER */
/*==========================================*/

/*==========================================*/
/* ECRAN DE JEU */
/*==========================================*/
section{
  height: 70vh;
  background: #43CBF5;
}
.border-screen-game{
  border: 5px solid white;
  background: white;
  width: 620px;
  height: 620px;
  padding: 5px;
  margin: auto;
}
#ecran{
  width: 600px;
  height: 600px;
  margin: auto;
  position: relative;
  background-image: url('../../img/sky.gif');
  background-size: contain;
}
/*======= START ======*/
#start, #retry{
	z-index: 10010;
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.zone-starter{
	height: 400px;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.starter-half{
	height: 200px;
	width: 100%;
}
#click-start, #click-retry{
	cursor: crosshair;
}
 /*=== POOPY ====*/
 #hero{
   background-image: url('../../img/poopy.gif');
   background-size: cover;
   position: absolute;
   width: 50px;
   height: 50px;
   bottom: 275px;
   left: 100px;
 }
 /* enemy*/
 .skin-enemy{
   background: red;
 }
 .skin-enemy2{
   background: blue;
 }
 .skin-enemy3{
   background: green;
 }
 .skin-enemy4{
   background: yellow;
 }
 .enemy{
   height: 75px;
   width: 75px;
   position: absolute;
   right: 0px;
 }
 #spawn-loc1{
   top: 0px;
 }
 #spawn-loc2{
   top: 75px;
 }
 #spawn-loc3{
   top: 150px;
 }
 #spawn-loc4{
   top: 225px;
 }
 #spawn-loc5{
   top: 300px;
 }
 #spawn-loc6{
   top: 375px;
 }
 #spawn-loc7{
   top: 450px;
 }
 #spawn-loc8{
   top: 525px;
 }

/*==========================================*/
/* FIN ECRAN DE JEU */
/*==========================================*/

/*==========================================*/
/* FOOTER */
/*==========================================*/
footer{
  height: 15vh;
  text-align: center;
  background: #43CBF5;
}
